{% extends 'base.html.twig' %}

{% block stylesheets %}
<style type="text/css">

.change-pwd-form-container {
  width: 100%;
}

@media (min-width: 992px) {
  .change-pwd-form-container {
    width: 400px;
  }
}

</style>
{% endblock %}

{% block body %}
    <h1>Changer votre mot de passe</h1>

    {{ form_start(form, { attr: { class: 'change-pwd-form-container'}}) }}
        {{ form_row(form.plainPassword) }}
        <button class="btn btn-primary">Valider</button>
    {{ form_end(form) }}
{% endblock %}