
<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirection HTTP vers HTTPS (optionnel)
    #RewriteCond %{HTTPS} off
    #RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

    # Si le fichier ou dossier existe, ne rien faire
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Sinon, rediriger vers index.php (front controller Symfony)
    RewriteRule ^ index.php [L]
</IfModule>