:root {
  --gray: #6c757d ;
  --sidebar-bg: #2E3138;
  --sidebar-color: #CCCCCC;
  --pistachio_light: #6DD14F;
  --pistachio_dark: #5AB63F;
}

body {
    padding-top: 56px; /* pour la navbar fixe */
}

#sidebar {
    top: 56px; /* en dessous de la navbar */
    height: calc(100vh - 56px); /* toute la hauteur visible */
    overflow-y: auto;
}

#main-content {
    /*margin-left: 16.6667%; /* largeur de la col-md-2 (~2/12) */ 
}

.app-name, .app-name:hover
{
    color: var(--pistachio_light);
}
.sidebar-app {
    background-color:  var(--sidebar-bg);
}

.sidebar-app .nav-link {
    color: var( --sidebar-color) !important;
    border-bottom: 1px solid var( --sidebar-color);
    
}

.sidebar-app a.active,
.sidebar-app a.nav-link:hover:not(.dropdown-toggle) {
    font-weight: bold;
}

.sidebar-app  a.active
{
    color: var(--pistachio_dark) !important;
}

.app-table-list > thead > tr > th {
    background-color:var(--pistachio_dark);
    color: white;
}

ul.pagination a.page-link {
    color: var(--pistachio_dark) !important;
}

.pagination > li.active > span{
    background-color: var(--pistachio_dark) !important;
    border: 1px solid var(--pistachio_dark) !important;
}
